<img src="../assets/abner2.jpg" alt="Banner" style="width:100%; height:150px; object-fit:cover; object-position:center;" />

Tanggal:

Cell ini menampilkan teks `Hello World!` ke konsol sebagai contoh output pertama.

In [12]:
print("Hello World!")

Hello World!

Cell ini mencetak kalimat lain untuk menegaskan cara kerja fungsi `print()`.

In [3]:
print("This is a simple Python script.")

This is a simple Python script.

Cell ini mendeklarasikan variabel `name` dan mengisinya dengan string `'Perseus Evans'`.

In [13]:
# Variabel ini menyimpan nama 'Perseus Evans'
name = 'Perseus Evans'

Cell ini memperlihatkan komentar blok memakai tanda kutip tiga dan kemudian mencetak `Hello World!`.

In [14]:
"""
Ini adalah Block Comment,
Teks ini akan diabaikan oleh Python.
"""
print("Hello World!")

Hello World!

Cell ini melakukan hal serupa, tetapi menggunakan tanda kutip tiga tunggal sebagai komentar blok.

In [15]:
'''
Ini adalah Block Comment,
Teks ini akan diabaikan oleh Python.
'''
print("Hello World!")

Hello World!

Cell ini mencontohkan penugasan satu variabel dan beberapa variabel kemudian mencetak nilainya.

In [ ]:
#Ini adalah contoh satu variabel
a = 10
print(a)

#Ini adalah contoh beberapa variabel
nama = "Tamago"
umur = 5
pekerjaan = "Pelajar"

print(nama)
print(umur)
print(pekerjaan)

10

Cell ini menunjukkan bahwa nama variabel peka terhadap huruf besar/kecil dengan beberapa variasi penulisan.

In [6]:
NAMA = "Aco"
nama = "Budi"
Nama = "Caca"
nAma = "Dodi"

print(NAMA, nama, Nama, nAma)

Aco Budi Caca Dodi

Cell ini menerima dua dan tiga input sekaligus dari pengguna, memisahkannya dengan `split()`, lalu mencetak hasilnya.

In [8]:
# taking two inputs at a time
x, y = input("Enter two values: ").split()
print("Number of boys: ", x)
print("Number of girls: ", y)
 
# taking three inputs at a time
x, y, z = input("Enter three values: ").split()
print("Total number of students: ", x)
print("Number of boys is : ", y)
print("Number of girls is : ", z)

Number of boys:  5
Number of girls:  10
Total number of students:  9
Number of boys is :  8
Number of girls is :  7

Cell ini mengambil input string dari pengguna tentang warna mawar dan menampilkannya kembali.

In [9]:
# Taking input as string
color = input("What color is rose?: ")
print(color)

Red

Cell ini mengambil input jumlah mawar, mengonversinya ke `int`, lalu mencetaknya.

In [10]:
# Taking input as int
# Typecasting to int
n = int(input("How many roses?: "))
print(n)

16

Cell ini mengambil input harga mawar, mengonversinya ke `float`, lalu mencetaknya.

In [ ]:
# Taking input as float
# Typecasting to float
price = float(input("Price of each rose?: "))
print(price)

Cell ini membuat beberapa variabel dengan tipe berbeda dan mencetak tipe datanya menggunakan `type()`.

In [ ]:
a = "Hello World"
b = 10
c = 11.22
d = ("Geeks", "for", "Geeks")
e = ["Geeks", "for", "Geeks"]
f = {"Geeks": 1, "for":2, "Geeks":3}


print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))
print(type(f))