<img src="../assets/abner2.jpg" alt="Banner" style="width:100%; height:150px; object-fit:cover; object-position:center;" />

$ Tanggal $: 30 $Oktober$ 2025 

$Sumber$
- https://www.geeksforgeeks.org/python/input-and-output-in-python/
- https://www.geeksforgeeks.org/python/python-output-formatting/
- https://www.geeksforgeeks.org/python/formatted-string-literals-f-strings-python/
-

**Pertanyaan:** Pesan apa yang akan muncul di konsol ketika kode berikut dijalankan?

Cell ini menampilkan teks `Hello World!` ke konsol sebagai contoh output pertama.

In [1]:
print("Hello World!")

print("Hello SMKN 6 Makassar")

Hello World!
Hello SMKN 6 Makassar

**Pertanyaan:** Bagaimana baris `print()` berikut memperkuat contoh output dasar?

Cell ini mencetak kalimat lain untuk menegaskan cara kerja fungsi `print()`.

In [3]:
print("This is a simple Python script.")

This is a simple Python script.

**Pertanyaan:** Variabel apa yang dibuat kode ini dan nilai apa yang disimpannya?

Cell ini mendeklarasikan variabel `name` dan mengisinya dengan string `'Perseus Evans'`.

In [2]:
nama_siswa = "Anthony"
print(nama_siswa)

Anthony

In [4]:
nama_siswa = input()
print(nama_siswa)

Baso

In [13]:
# Variabel ini menyimpan nama 'Perseus Evans'
name = 'Perseus Evans'

**Pertanyaan:** Bagaimana kode ini menggunakan komentar blok tiga tanda kutip ganda?

Cell ini memperlihatkan komentar blok memakai tanda kutip tiga dan kemudian mencetak `Hello World!`.

In [ ]:
"""
Ini adalah perintah untuk menampilkan tulisan "Hello World"
"""
print("Hello World!") #Ini adalah penjelasan

Hello World!

**Pertanyaan:** Apa perbedaan komentar blok pada contoh berikut dibanding sel sebelumnya?

Cell ini melakukan hal serupa, tetapi menggunakan tanda kutip tiga tunggal sebagai komentar blok.

In [15]:
'''
Ini adalah Block Comment,
Teks ini akan diabaikan oleh Python.
'''
print("Hello World!")

Hello World!

**Pertanyaan:** Bagaimana kode ini membedakan penugasan satu variabel dengan beberapa variabel?

Cell ini mencontohkan penugasan satu variabel dan beberapa variabel kemudian mencetak nilainya.

In [7]:
#Ini adalah contoh satu variabel
a = 10
print(a)

#Ini adalah contoh beberapa variabel
nama = "Tamago" # Dalam bahasa jepang 卵　adalah telur
umur = 5
pekerjaan = "Pelajar"

print(nama)
print(umur)
print(pekerjaan)

10
Tamago
5
Pelajar

In [11]:
print("namanya",nama, "umurnya", umur, "tahun", "dia seorang", pekerjaan)

namanya Tamago umurnya 5 tahun dia seorang Pelajar

**Pertanyaan:** Apa yang kode ini tunjukkan tentang sensitivitas huruf besar/kecil pada nama variabel?

Cell ini menunjukkan bahwa nama variabel peka terhadap huruf besar/kecil dengan beberapa variasi penulisan.

In [15]:
NAMA = "Aco"
nama = "Budi"
Nama = "Caca"
nAma = "Dodi"
nama = "Abdull"
nama = "Mey"
nama = NAMA

print(NAMA, nama, Nama, nAma)

Aco Aco Caca Dodi

In [18]:
nama = input()

In [17]:
print(nama)

aco

**Pertanyaan:** Bagaimana kode ini menerima beberapa input sekaligus dari pengguna?

Cell ini menerima dua dan tiga input sekaligus dari pengguna, memisahkannya dengan `split()`, lalu mencetak hasilnya.

In [8]:
# taking two inputs at a time
x, y = input("Enter two values: ").split()
print("Number of boys: ", x)
print("Number of girls: ", y)
 
# taking three inputs at a time
x, y, z = input("Enter three values: ").split()
print("Total number of students: ", x)
print("Number of boys is : ", y)
print("Number of girls is : ", z)

Number of boys:  5
Number of girls:  10
Total number of students:  9
Number of boys is :  8
Number of girls is :  7

**Pertanyaan:** Bagaimana program ini menangani input teks tentang warna mawar?

Cell ini mengambil input string dari pengguna tentang warna mawar dan menampilkannya kembali.

In [9]:
# Taking input as string
color = input("What color is rose?: ")
print(color)

Red

**Pertanyaan:** Mengapa input jumlah mawar dikonversi ke `int` dalam contoh ini?

Cell ini mengambil input jumlah mawar, mengonversinya ke `int`, lalu mencetaknya.

In [20]:
# Taking input as int
# Typecasting to int
n = int(input("How many roses?: "))
print(n+2)

62

**Pertanyaan:** Bagaimana kode berikut membaca harga mawar sebagai angka desimal?

Cell ini mengambil input harga mawar, mengonversinya ke `float`, lalu mencetaknya.

In [ ]:
# Taking input as float
# Typecasting to float
price = float(input("Price of each rose?: "))
print(price)

**Pertanyaan:** Apa yang ditunjukkan contoh ini mengenai tipe data dari beberapa variabel?

Cell ini membuat beberapa variabel dengan tipe berbeda dan mencetak tipe datanya menggunakan `type()`.

In [ ]:
a = "Hello World" #Tipe String
b = 10 #Tipe bilangan bulat (Integer)
c = 11.22 #Tipe bilangan desimal decimal float
d = ("Geeks", "for", "Geeks")
e = ["Geeks", "for", "Geeks"]
f = {
    "Geeks": 1, 
    "for":2, 
    "Geeks":3
    } #Dictionary -> Kamus


print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))
print(type(f))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'tuple'>
<class 'list'>
<class 'dict'>

In [23]:
x = "x"
water_of_bottle = "Water of Bottle"

In [25]:
bahasa_inggris = {
    "Chair": "Kursi",
    "Table": "Meja",
    "Curtain": "Horden",
    "Whiteboard": "Papan Tulis Putih",
    "Fan": "Kipas Angin" ,
    "water_of_bottle": "Botol Air" #Kenapa harus pakai tanda petik?
}

In [29]:
print("arti dari bahasa inggris itu adalah",bahasa_inggris["Fan"])

arti dari bahasa inggris itu adalah Kipas Angin

**Pertanyaan:** Bagaimana operator modulo `%` digunakan untuk memformat output dalam contoh ini?

Cell ini menunjukkan pemformatan teks menggunakan operator modulo (%) untuk menampilkan bilangan dalam format float, integer, oktal, dan eksponensial.

In [31]:
# string modulo operator(%)

print("Geeks : %2d, Portal : %5.5f" % (1, 05.3337777)) 

print("Total students : %3d, Boys : %2d" % (240, 120))   # print integer value

print("%7.3o" % (25))   # print octal value

print("%10.3E" % (356.08977))   # print exponential value

Geeks :  1, Portal : 5.33378
Total students : 240, Boys : 120
    031
 3.561E+02

**Pertanyaan:** Bagaimana `str.format()` dengan placeholder posisi bekerja pada kode berikut?

Cell ini memakai `str.format()` dengan placeholder posisi untuk menyisipkan nilai ke string.

In [2]:
# Positional formatting with format() method

# Using indexed placeholders for string formatting
print("I love {0} for \"{1}!\"".format("Geeks", "Geeks"))

# {0} is replaced by the first argument 'Geeks'
print("{0} and Portal".format("Geeks"))

# Formatting with placeholders, {0} replaced by 'Geeks'
print("Portal and {0}".format("Geeks"))

I love Geeks for "Geeks!"
Geeks and Portal
Portal and Geeks

**Pertanyaan:** Mengapa contoh ini menggabungkan argumen posisi dan bernama dalam `format()`?

Cell ini memadukan argumen posisi dan bernama pada `format()` serta mengatur lebar dan presisi angka.

In [3]:
# Advanced formatting with positional and named arguments

# Mixing positional and named arguments
template = "Number one portal is {0}, {1} and {other}."
print(template.format("Geeks", "For", other="Geeks"))

# Format integers and floats with specified width and precision
print("Geeks :{0:2d}, Portal :{1:8.2f}".format(12, 0.5534))

# Demonstrate order swapping and formatting precision
print("Second argument: {1:3d}, first one: {0:8.2f}".format(47.42, 11))

# Using named arguments for clarity in complex formats
print("Geeks: {a:5d}, Portal: {p:8.2f}".format(a=453, p=59.058))

Number one portal is Geeks, For and Geeks.
Geeks :12, Portal :    0.55
Second argument:  11, first one:    47.42
Geeks:   453, Portal:    59.06

**Pertanyaan:** Apa yang dilakukan metode `center`, `ljust`, dan `rjust` pada string di sini?

Cell ini mendemonstrasikan metode `center`, `ljust`, dan `rjust` untuk meratakan string dengan karakter pengisi.

In [4]:
cstr = "I love geeksforgeeks"

# Printing the center aligned string with fillchr
print("Center aligned: ")
print(cstr.center(40, '#'))

# Printing the left aligned string with "-" padding
print("left aligned: ")
print(cstr.ljust(40, '-'))

# Printing the right aligned string with "-" padding
print("right aligned: ")
print(cstr.rjust(40, '-'))

Center aligned:
##########I love geeksforgeeks##########
left aligned:
I love geeksforgeeks--------------------
right aligned:
--------------------I love geeksforgeeks

Format conversation rule

| Conversion | Meaning                            |
|------------|------------------------------------|
| d          | Decimal integer                   |
| b          | Binary format                      |
| o          | Octal format                       |
| u          | Obsolete and equivalent to 'd'     |
| x or X     | Hexadecimal format                 |
| e or E     | Exponential notation               |
| f or F     | Floating-point decimal             |
| g or G     | General format                     |
| c          | Single Character                   |
| r          | String format (using repr())       |
| s          | String format (using str())        |
| %          | Percentage                         |

### F-String In Python

**Pertanyaan:** Bagaimana f-string memudahkan penyisipan variabel pada contoh ini?

Cell ini menampilkan penggunaan f-string dasar yang menyisipkan variabel secara langsung ke dalam teks.

In [5]:
val = 'Geeks'
print(f"{val}for{val} is a portal for {val}.")


name = 'Om'
age = 22
print(f"Hello, My name is {name} and I'm {age} years old.")

GeeksforGeeks is a portal for Geeks.
Hello, My name is Om and I'm 22 years old.

**Pertanyaan:** Bagaimana f-string memformat tanggal dari objek `datetime` di bawah ini?

Cell ini memperlihatkan cara memformat tanggal menggunakan f-string dan objek `datetime`.

In [6]:
import datetime

today = datetime.datetime.today()
print(f"{today:%B %d, %Y}")

October 31, 2025

**Pertanyaan:** Bagaimana f-string menangani tanda kutip tunggal dan ganda dalam contoh ini?

Cell ini menunjukkan cara memasukkan tanda kutip tunggal dan ganda di dalam f-string.

In [7]:
print(f"'GeeksforGeeks'")

print(f"""Geeks"for"Geeks""")

print(f'''Geeks'for'Geeks''')

'GeeksforGeeks'
Geeks"for"Geeks
Geeks'for'Geeks

**Pertanyaan:** Bagaimana f-string membantu menghitung total nilai mata pelajaran di contoh ini?

Cell ini menghitung total nilai beberapa mata pelajaran menggunakan ekspresi langsung di dalam f-string.

In [8]:
english = 78
maths = 56
hindi = 85

print(f"Ram got total marks {english + maths + hindi} out of 300")

Ram got total marks 219 out of 300

**Pertanyaan:** Informasi apa yang ingin diperoleh dari pemanggilan `ord()` dalam f-string ini?

Cell ini memanggil fungsi `ord()` di f-string untuk mendapatkan kode ASCII dari karakter newline.

In [ ]:
f"newline: {ord('\n')"

SyntaxError: f-string expression part cannot include a backslash (905613480.py, line 1)

**Pertanyaan:** Mengapa contoh ini menyimpan hasil `ord('\n')` ke variabel sebelum ditampilkan?

Cell ini menyimpan kode ASCII karakter newline ke variabel lalu menampilkannya dengan f-string.

In [11]:
newline = ord('\n')

print(f"newline: {newline}")

newline: 10

**Pertanyaan:** Bagaimana f-string menghitung panjang teks lewat ekspresi matematika di sini?

Cell ini mencontohkan ekspresi matematika di dalam f-string untuk menghitung panjang teks.

In [12]:
f"GeeksforGeeks is {5*2 + 3 #geeks-5} characters."

SyntaxError: f-string expression part cannot include '#' (2343991891.py, line 1)

**Pertanyaan:** Bagaimana f-string dapat menampilkan kurung kurawal literal pada contoh berikut?

Cell ini memperlihatkan cara menampilkan tanda kurung kurawal di dalam f-string dengan menggandakannya.

In [13]:
# Printing single braces
print(f"{{Hello, Geek}}")

# Printing double braces
print(f"{{{{Hello, Geek}}}}")

{Hello, Geek}
{{Hello, Geek}}