<img src="../assets/abner2.jpg" alt="Banner" style="width:100%; height:150px; object-fit:cover; object-position:center;" />

$Tanggal$ : 31 $Oktober$ 2025

Sumber: 
- https://www.geeksforgeeks.org/python/python-variables/
- https://www.geeksforgeeks.org/python/global-local-variables-python/ (considering this)
- https://www.geeksforgeeks.org/python/python-operators/

**Pertanyaan:** Nilai apa yang disimpan dan dicetak oleh contoh deklarasi variabel pertama ini?

Cell ini mendeklarasikan variabel `x` sebagai bilangan bulat dan `name` sebagai string, lalu mencetak keduanya untuk menegaskan bahwa tiap variabel bebas menyimpan tipe data berbeda.

In [22]:
# Variable 'x' stores the integer value 5
x = 5

# Variable 'name' stores the string "Samantha"
name = "Samantha"  

print(x)
print(name)

5
Samantha

**Pertanyaan:** Apa saja contoh penamaan variabel valid yang dimunculkan kode berikut?

Cell ini membuat variabel `age`, `_colour`, dan `total_score` untuk menunjukkan bahwa huruf, garis bawah, dan kombinasi angka-huruf di akhir adalah nama yang sah.

In [23]:
age = 21
_colour = "lilac"
total_score = 90

**Pertanyaan:** Mengapa baris penamaan variabel berikut tidak bisa dijalankan di Python?

Cell ini memberikan contoh nama variabel yang salah—diawali angka, memakai kata kunci seperti `class`, atau mengandung karakter khusus seperti tanda hubung—yang semuanya memicu `SyntaxError`.

In [24]:
1name = "Error"  # Starts with a digit
class = 10       # 'class' is a reserved keyword
user-name = "Doe"  # Contains a hyphen

SyntaxError: invalid decimal literal (2089968379.py, line 1)

**Pertanyaan:** Jenis data apa yang ditugaskan ke `x`, `y`, dan `z` di contoh ini?

Cell ini menginisialisasi `x` sebagai bilangan bulat, `y` sebagai float, dan `z` sebagai string untuk memperlihatkan penugasan tipe campuran.

In [ ]:
x = 5
y = 3.14
z = "Hi"

**Pertanyaan:** Apa yang terjadi pada tipe dan nilai `x` ketika dua penugasan berturut-turut ini dijalankan?

Cell ini menunjukkan bahwa Python bertipe dinamis: variabel `x` dapat berpindah dari angka ke string tanpa deklarasi ulang.

In [ ]:
x = 10
x = "Now a string"

**Pertanyaan:** Bagaimana ekspresi `a = b = c = 100` memengaruhi ketiga variabel?

Cell ini menggunakan penugasan berantai sehingga `a`, `b`, dan `c` semuanya mereferensikan nilai 100 yang sama sebelum dicetak.

In [ ]:
a = b = c = 100
print(a, b, c)

100 100 100

**Pertanyaan:** Bagaimana Python membagikan tiga nilai ke `x`, `y`, dan `z` dalam satu baris assignment?

Cell ini mencontohkan unpacking: tuple di kanan otomatis dibagi ke tiga variabel di kiri dalam satu pernyataan.

In [ ]:
x, y, z = 1, 2.5, "Python"
print(x, y, z)

1 2.5 Python

**Pertanyaan:** Bagaimana kode ini mengonversi nilai antar tipe data?

Cell ini melakukan konversi string ke integer, integer ke float, dan integer ke string untuk menegaskan cara cast eksplisit bekerja.

In [ ]:
# Casting variables
s = "10"  # Initially a string
n = int(s)  # Cast string to integer
cnt = 5
f = float(cnt)  # Cast integer to float
age = 25
s2 = str(age)  # Cast integer to string

# Display results
print(n)  
print(f)  
print(s2)

10
5.0
25

**Pertanyaan:** Informasi apa yang diberikan oleh pemanggilan `type()` pada tiap variabel?

Cell ini mencetak tipe data dari berbagai variabel (`int`, `float`, `str`, `list`, `dict`, `bool`) agar peserta mengenali keluaran fungsi `type()`.

In [ ]:
# Define variables with different data types
n = 42
f = 3.14
s = "Hello, World!"
li = [1, 2, 3]
d = {'key': 'value'}
bool = True

# Get and print the type of each variable
print(type(n))   
print(type(f)) 
print(type(s))   
print(type(li))     
print(type(d))     
print(type(bool))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'list'>
<class 'dict'>
<class 'bool'>

**Pertanyaan:** Apa yang ditunjukkan contoh ini tentang menghapus variabel dengan `del`?

Cell ini mendemonstrasikan pembuatan variabel, penghapusan dengan `del`, lalu mengingatkan bahwa mencoba mengaksesnya lagi (baris `print(x)`) akan menimbulkan `NameError`.

In [ ]:
# Assigning value to variable
x = 10
print(x) 

# Removing the variable using del
del x

# Trying to print x after deletion will raise an error
# print(x)  # Uncommenting this line will raise NameError: name 'x' is not defined
print(x)

10

NameError: name 'x' is not defined

**Pertanyaan:** Bagaimana cara Python menukar nilai dua variabel tanpa variabel sementara?

Cell ini menggunakan multiple assignment (`a, b = b, a`) sehingga nilai `a` dan `b` saling bertukar dalam satu baris.

In [ ]:
a, b = 5, 10
a, b = b, a
print(a, b)

10 5

**Pertanyaan:** Bagaimana fungsi `len()` digunakan pada string ini?

Cell ini menghitung panjang kata `'Python'` dengan `len()` dan menampilkannya.

In [ ]:
word = "Python"
length = len(word)
print("Length of the word:", length)

Length of the word: 6

### Oprators

#### Operators in Python

| Operators             | Type                  |
|------------------------|-----------------------|
| +, -, *, /, %          | Arithmetic operator   |
| <, <=, >, >=, ==, !=   | Relational operator   |
| AND, OR, NOT           | Logical operator      |
| &, |, <<, >>, ~, ^     | Bitwise operator      |
| =, +=, -=, *=, %=      | Assignment operator   |

**Pertanyaan:** Operator aritmetika apa saja yang didemokan dan apa outputnya?

Cell ini menjalankan operasi tambah, kurang, kali, bagi, bagi-bulat, modulus, dan pangkat menggunakan variabel `a` dan `b` lalu mencetak hasil masing-masing.

In [ ]:
#Belajar Operator 
a = 2025
b = int(input("Masukkan tanggal kelahiran anda"))
c = int(input("Masukkan bulan kelahiran anda"))

#Pengurangan
#a-c
#Penjumlahan
#a+b+c
#Perkalian
#a*b*c
#Pembagian
#a/b
#b/c
#Modulus
#a%b       
#a%c
#Eksponen
#a**b
#a**c
#Floor Division
#a//b

In [ ]:
# Variables
a = 15
b = 4

# Addition
print("Addition:", a + b)  

# Subtraction
print("Subtraction:", a - b) 

# Multiplication
print("Multiplication:", a * b)  

# Division
print("Division:", a / b) 

# Floor Division
print("Floor Division:", a // b)  

# Modulus
print("Modulus:", a % b) 

# Exponentiation
print("Exponentiation:", a ** b)

Addition: 19
Subtraction: 11
Multiplication: 60
Division: 3.75
Floor Division: 3
Modulus: 3
Exponentiation: 50625

In [ ]:
pi * (r**2)

**Pertanyaan:** Bagaimana operator perbandingan mengevaluasi hubungan antara `a` dan `b`?

Cell ini mengevaluasi enam perbandingan berbeda (`>`, `<`, `==`, `!=`, `>=`, `<=`) untuk menunjukkan hasil boolean dari tiap relasi.

In [ ]:
a = 13
b = 33

print(a > b)
print(a < b)
print(a == b)
print(a != b) #Apakah a tidak sama dengan b?
print(a >= b) #Apakah a lebih besar atau sama dengan b?
print(a <= b) #Apakah a lebih kecil atau sama dengan b?

False
True
False
True
False
True

In [7]:
a = 9 #a mengandung 9, a bernilai 9
b = 908
c = -9
d = 9

print(a != d) #a hubungannya dengan b, adalah sama atau tidak sama?

False

**Pertanyaan:** Bagaimana operator logika `and`, `or`, dan `not` bekerja pada nilai boolean di bawah?

Cell ini memperlihatkan keluaran `and`, `or`, dan `not` terhadap nilai `True` dan `False` sebagai dasar logika boolean.

In [10]:
a = True #Saya makan nasi
b = True #Saya makan mie
print(a and b)
print(a or b)
print(not a)

True
True
False

**Pertanyaan:** Apa yang dilakukan operator bitwise pada pasangan bilangan `a` dan `b`?

Cell ini menampilkan hasil AND, OR, NOT, XOR, shift kanan, dan shift kiri untuk memperkenalkan operasi bit tingkat rendah.

In [11]:
a = True
b = False

print(a & b)
print(a | b)
print(~a)
print(a ^ b)
# print(a >> 2)
# print(a << 2)

False
True
-2
True

**Pertanyaan:** Mengapa contoh ini menggunakan augmented assignment (`+=`, `-=`, dst.)?

Cell ini mendemonstrasikan operator penugasan gabungan (`+=`, `-=`, `*=`, `<<=`) yang memperbarui variabel sambil menerapkan operasi aritmetika atau bitwise.

In [ ]:
a = 10
b = a
print(b)
b += a #b ditambah dengan nilai a
print(b)
b -= a
print(b)
b *= a
print(b)
b <<= a
print(b)

10
20
10
100
102400

**Pertanyaan:** Apa bedanya operator identitas `is` dengan perbandingan nilai biasa?

Cell ini memakai `is` dan `is not` untuk menekankan bahwa identitas membandingkan referensi objek, bukan sekadar nilai numerik.

In [ ]:
a = 10
b = 20
c = a

print(a is not b)
print(a is c)

True
True

**Pertanyaan:** Bagaimana operator keanggotaan `in` dan `not in` memeriksa daftar?

Cell ini mengecek apakah nilai tertentu terdapat dalam list dan mencetak pesan berbeda berdasarkan hasil pengecekan.

In [ ]:
x = 24
y = 20
list = [10, 20, 30, 40, 50]

if (x not in list):
    print("x is NOT present in given list")
else:
    print("x is present in given list")

if (y in list):
    print("y is present in given list")
else:
    print("y is NOT present in given list")

**Pertanyaan:** Apa tujuan ekspresi kondisional satu baris (`a if ... else ...`) di sini?

Cell ini menggunakan operator ternary untuk memilih nilai terkecil antara `a` dan `b` sebelum mencetaknya.

In [ ]:
a, b = 10, 20
min = a if a < b else b

print(min)

**Pertanyaan:** Bagaimana contoh ini memperlihatkan prioritas operator pada ekspresi campuran?

Cell ini mengevaluasi ekspresi aritmetika dan kondisi gabungan `or`/`and` untuk menunjukkan bahwa `and` memiliki prioritas lebih tinggi serta perkalian terjadi sebelum penjumlahan.

In [ ]:
expr = 10 + 20 * 30
print(expr)
name = "Alex"
age = 0

if name == "Alex" or name == "John" and age >= 2:
    print("Hello! Welcome.")
else:
    print("Good Bye!!")

**Pertanyaan:** Urutan operasi apa yang digarisbawahi oleh contoh perhitungan berikut?

Cell ini menyoroti urutan operasi: pembagian dan perkalian dari kiri ke kanan, tanda kurung yang memaksa urutan, serta pemangkatan yang bersifat right-associative.

In [ ]:
print(100 / 10 * 10)
print(5 - 2 + 3)
print(5 - (2 + 3))
print(2 ** 3 ** 2)

100.0
6
0
512

Problems

- https://www.geeksforgeeks.org/problems/arithmetic-operators-1605594922--131943/1?&selectedLang=python3
- https://www.geeksforgeeks.org/problems/logical-operators-1597313687--171003/1?&selectedLang=python3
-